<div class="main">

  <div class="content-homepage"> 
    <div class="buscador">
      <h1>Buscador de artistas</h1>
        <form action="./artist-search">
          <input class="input-homepage" name="search" type="text" required>
          <p><button class="btn-homepage">Search for an artist!</button></p>
        </form>
    </div>
  </div>

</div>