<div class="main">
    <div class="content">

       <h1>Tracks</h1>
       <h5><a href="../"> Volver al buscador</a></h5>
        {{#each this.tracks.items}}
        <h3>{{this.track_number}}. {{this.name}}</h3>
        {{#if this.preview_url.length}}
        <p><figure>
             <audio controls>
                <source src="{{this.preview_url}}" type="audio/mpeg">
                </audio>
        </figure>
           </p>
            {{else}}
                <p>No está disponible este audio.</p>
            {{/if}}

        {{/each}}
        </div>
    </div>
</div>